    <div id="toast" class="toast text-bg-secondary align-items-center" role="alert">
        <div class="d-flex">
            <div id="toast-message" class="toast-body fs-6"></div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    </div>

    <script src="/upup.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>