@import url('/static/bootstrap/dist/css/bootstrap.min.css');
@import url('/static/@fortawesome/fontawesome-free/css/all.min.css');

body {
    width: 100%;
    min-height: 100vh;
}

.divider {
    display: inline-block;
    width: 1px;
    height: 27px;
    margin: 0 16px;
    background: #cbd5e0;
}

.text-small {
    font-size: .85rem;
}

[x-cloak] {
    display: none !important;
}