<% const meta={ title: '' , }; %>

<%- include('./partials/header.ejs', { meta, app_name }); %>
<%- include('./partials/sidebar.ejs', { meta }); %>

<main>Ok</main>

<%- include('./partials/footer.ejs'); %>